<!DOCTYPE html>
<html lang="pl">
    <body>
        <h3>Witaj, {{username}}!</h3>
        <p>Dziękujemy za zarejestrowanie się na naszej platformie.</p>
        <p>Aby aktywować swoje konto, wejdź w następujący link: <strong>{{link}}</strong></p>
        <p>Dobrego dnia!</p>
    </body>
</html>